<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (prods.length > 0) { %>
                    <div class="grid">
                        <% for (let de of prods) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <p class="product__description">
                                        <%= de.climate %>
                                    </p>
                                </header>
                                <div class="card__image">
                                    <img src="<%= de.image %>" alt="<%= de.title %>">
                                </div>
                               
                                    
                                    
                                    <p class="product__description">
                                        <%= de.land %>
                                    </p>
                                    
                                </div>
                                <div class="card__actions">
                                    <a href="/weather/edit-product/<%= de._id %>?edit=true" class="btn">Edit</a>
                                    <form action="/weather/delete-product" method="POST">
                                        <input type="hidden" value="<%= de._id %>" name="deId">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="btn" type="submit">Delete</button>
                                    </form>

                                </div>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>