<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= de.seed %></h1>
            <hr>
            <div class="image">
                <img src="<%= de.image %>" alt="<%= de.seed %>">
            </div>
            <p><h2 class="product__price"> Price :
           <%= de.market %> </h2></p>
           <p><h2 class="product__price"> Climate :
            <%= de.climate %> </h2></p>
            <p><h2 class="product__price"> Land :
                <%= de.land %> </h2></p>
                <p><h2 class="product__price"> Fertilizer :
                    <%= de.fertilizer %> </h2></p>
                    <p><h2 class="product__price"> Natural :
                        <%= de.natural %> </h2></p>
                        <p><h2 class="product__price"> Irrigation :
                            <%= de.irrigation %> </h2></p>
                            <p><h2 class="product__price"> Harvesting :
                                <%= de.harvesting %> </h2></p>
            <!-- <p><%= de.climate %></p>
            <p><%= de.land %></p>
            <p><%= de.desc %></p>
            <p><%= de.fertilizer %></p>
            <p><%= de.natural %></p>
            <p><%= de.irrigation %></p>
            <p><%= de.harvesting %></p> -->
        </main>
        <%- include('../includes/end.ejs') %>